<!-- Cabeçalho -->
<header style="background-color: rgb(8, 220, 8); color: green; height: 150px;">
    <center>                         
        <h1 style="margin-top: 0px; padding-top: 20px;">CADASTRO DE PROBLEMAS DO IFSUL</h1>                         
        <h2>Um banco de propostas para projetos de extensão</h2>                         
    </center>
</header>